.wrapper {
	padding: 10px;
	display: flex;
}

.controls-wrapper {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	max-width: 920px;
}

.controls-wrapper button {
	padding: 10px;
	margin-right: 10px;
}

.controls-wrapper select {
	margin-left: 10px;
}

.menu-wrapper {
	border: 1px solid #CCC;
	margin-right: 20px;
}

.list {
	list-style: none;
	border: 1px solid #CCC;
	padding: 0;
}

.list-item:hover {
	background-color: aqua;
}

.list-item--selected {
	background-color: #00A6FF;
}