.wrapper {
	padding: 10px;
	display: flex;
}

.menu-wrapper {
	border: 1px solid #CCC;
	margin-right: 20px;
}

.list {
	list-style: none;
	border: 1px solid #CCC;
	padding: 0;
}

.list-item:hover {
	background-color: aqua;
}